/* Change the background of the entire visible page */
body {
    background-color: #add8e6; /*lightblue*/
}

/* Style for all paragraphs */
p {
    color:pastelpink;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */

    
    
