/* Change the background of the entire visible page */
body {
    background-color: #add8e6; /*lightblue*/
}

/* Style for all paragraphs */
p {
    color:pastelpink;
    font-size: 16px;
    font-family: 'Times New Roman', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
}
    .marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee img {
  display: inline-block;
  width: 200px; /* adjust size if you want */
  animation: scroll-left 5s linear infinite;
}

@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
.marquee img:hover {
  animation-play-state: paused;
}


    
    
